[submodule "home/.vim/bundle/xmledit"]
	path = home/.vim/bundle/xmledit
	url = git://github.com/sukima/xmledit.git
[submodule "home/.vim/bundle/vim-slim"]
	path = home/.vim/bundle/vim-slim
	url = git://github.com/slim-template/vim-slim.git
[submodule "home/.vim/bundle/vim-coffee-script"]
	path = home/.vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "home/.vim/bundle/vim-json"]
	path = home/.vim/bundle/vim-json
	url = git@github.com:elzr/vim-json.git
[submodule "home/.vim/bundle/vim-emblem"]
	path = home/.vim/bundle/vim-emblem
	url = https://github.com/heartsentwined/vim-emblem.git
