[user]
	name = Benjamin Feng
	email = contact@fengb.me
[push]
	default = current
[merge]
	defaultToUpstream = true
[alias]
	huh = annotate
[fetch]
	prune = true
[hub]
	protocol = ssh
[include]
	path = .gitconfig_local
