prefix=/Users/fengb/.npm-packages
//registry.npmjs.org/:_password=JTdQdDhFbndeNG1IdHtkcA==
//registry.npmjs.org/:username=fengb
//registry.npmjs.org/:email=contact@fengb.info
//registry.npmjs.org/:always-auth=false
